Debug/3ds.obj
*.obj
Debug/OGL_CodigoBase.ilk
*.tlog
*.idb
.vs/OGL_CodigoBase/v14/.suo
*.obj
Debug/OGL_CodigoBase.exe
*.ilk
Debug/OGL_CodigoBase.log
*.pdb
*.tlog
Debug/OGL_CodigoBase.tlog/OGL_CodigoBase.lastbuildstate
*.idb
Debug/vc140.pdb
*.obj
*.log
*.tlog
*.obj
Debug/OGL_CodigoBase.ilk
*.log
Debug/OGL_CodigoBase.pdb
*.tlog
Debug/vc140.idb
*.pdb
*.obj
Debug/OGL_CodigoBase.ilk
*.pdb
Debug/OGL_CodigoBase.tlog/link.read.1.tlog
*.pdb